<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Aplicativo_Gestão_ERP.Properties.Settings.GestEstoqueConnectionString"
            connectionString="Data Source=LAPTOP-CE4Q030Q;Initial Catalog=GestEstoque;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>